framework: net8.0, netstandard2.1
strategy: min
source https://api.nuget.org/v3/index.json

// PRODUCTION STUFF
nuget Microsoft.CSharp 4.7.0

nuget Microsoft.Extensions.Configuration 8.0.0
nuget Microsoft.Extensions.Configuration.Json 8.0.0
nuget Microsoft.Extensions.Http.Polly 8.0.3
nuget Microsoft.Extensions.Logging 8.0.0

nuget System.Text.Json 8.0.3
nuget System.Threading.Tasks.Dataflow 8.0.0

nuget CompareNETObjects 4.83.0
nuget CommandLineParser 2.9.1
nuget NodaTime 3.1.11
nuget NetTopologySuite 2.5.0

// EF
nuget Microsoft.EntityFrameworkCore.Design 8.0.3

// AWS
nuget AWSSDK.SimpleNotificationService 3.7.301.3

// VBR STUFF
nuget Be.Vlaanderen.Basisregisters.Build.Pipeline 7.0.4

nuget Be.Vlaanderen.Basisregisters.Auth.AcmIdm 2.0.0

nuget Be.Vlaanderen.Basisregisters.AggregateSource 9.0.1
nuget Be.Vlaanderen.Basisregisters.AggregateSource.ExplicitRouting 9.0.1
nuget Be.Vlaanderen.Basisregisters.AggregateSource.SqlStreamStore 9.0.1
nuget Be.Vlaanderen.Basisregisters.AggregateSource.SqlStreamStore.Autofac 9.0.1
nuget Be.Vlaanderen.Basisregisters.AggregateSource.Testing 9.0.1
nuget Be.Vlaanderen.Basisregisters.AggregateSource.Testing.CommandHandling 9.0.1
nuget Be.Vlaanderen.Basisregisters.AggregateSource.Testing.SqlStreamStore 9.0.1
nuget Be.Vlaanderen.Basisregisters.AggregateSource.Testing.SqlStreamStore.Autofac 9.0.1
nuget Be.Vlaanderen.Basisregisters.AggregateSource.Testing.Xunit 9.0.1

nuget Be.Vlaanderen.Basisregisters.CommandHandling 9.0.1
nuget Be.Vlaanderen.Basisregisters.CommandHandling.Idempotency 9.0.1
nuget Be.Vlaanderen.Basisregisters.CommandHandling.SqlStreamStore 9.0.1

nuget Be.Vlaanderen.Basisregisters.EventHandling 5.0.0
nuget Be.Vlaanderen.Basisregisters.EventHandling.Autofac 5.0.0

nuget Be.Vlaanderen.Basisregisters.Api 21.0.0

nuget Be.Vlaanderen.Basisregisters.Crab 4.0.0

nuget Be.Vlaanderen.Basisregisters.Shaperon 10.0.2

nuget Be.Vlaanderen.Basisregisters.AspNetCore.Mvc.Formatters.Json 5.0.0

nuget Be.Vlaanderen.Basisregisters.Generators.Guid.Deterministic 4.0.0

nuget Be.Vlaanderen.Basisregisters.Utilities.Rfc3339DateTimeOffset 4.0.0

// TEST STUFF
nuget Microsoft.NET.Test.Sdk 17.9.0
nuget xunit 2.7.0
nuget xunit.runner.visualstudio 2.5.7
nuget Moq 4.20.70
nuget FluentAssertions 6.12.0
nuget AutoFixture 4.18.1

// BUILD STUFF
nuget SourceLink.Embed.AllSourceFiles 2.8.3 copy_local: true
nuget SourceLink.Copy.PdbFiles 2.8.3 copy_local: true
